/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Refactoring for index.html below */

.index-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0px;
}

.tagline {
	font-size: 60pt;
	text-align: center;
	margin: 50px;
}

.tagline button {
	background-color: white;
	padding: 5px 40px;
	border: 1px solid black;
	box-shadow: none;
}

.top-content {
	display: flex;
}

.middle-img {
    padding: 30px 0px;
    width: 100%;
    height: auto;
}

.bottom-content {
	display: flex;
	justify-content: space-between;
}

.bottom-content div {
	width: 282px;
}

/* Below is new CSS for services.html */
body {
	margin: 0px 50px;
    max-width: 876px;
    display: flex;
    flex-direction: column;
}

.nav-and-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0px;
}


.nav-links a {
	color: grey;
	text-decoration: none;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin: 0px 50px 0px 0px;
}

.logo-services {
	display: flex;
}

.services-header-img {
    padding: 0px 0px 30px 0px;
    width: 100%;
    height: auto;
}

h2 {
	font-size: 18pt;
	font-weight: bold;
}

hr {
	margin: 30px 0px;
}

.services-boxes {
	display: flex;
	justify-content: space-between;
	align-items: space-around;
	flex-wrap: wrap;
	/* border: 2px dashed blue; */
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    max-width: 420px;
    width: 100%;
	border: 1px solid black;
	height: auto;
	margin: 20px 0px;
	background-color: #F3F3F3;
	padding: 20px;
}

.box-buttons {
	margin: 20px 0px;
	background-color: white;
	font-size: 8pt;
	border-radius: 6px;
	padding: 10px 40px;
	box-shadow: none;
	border: 1px solid black;
}

.lower-section {
	display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.lower-section p {
	padding: 0px 30px 0px 0px;
}

.things-list {
	list-style-type: square;
	padding: 18px;
}

.things-list li {
	padding: 5px;
}

.services-info-img {
    width: 100%;
    height: auto;
}

footer {
	text-align: center;
	font-size: 10pt;
	padding: 100px;
}

@media (max-width: 960px) {
    .services-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box1, .box2, .box3, .box4, .box5, .box6 {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 800px){
    .nav-and-logo {
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-links {
        display: flex;
        justify-content: space-between;
        margin: 40px 0px 0px 0px;
        width: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .round {
        display: none;
    }
    .index-header {
        /* text-align: center; */
        padding: 0px 0px;
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .middle-img {
        width: 100%;
        height: auto;
    }
    .services-header-img {
        width: 100%;
        height: auto;
    }
    .top-content {
        display: flex;
        justify-content: space-between;
    }
    .top-content div {
        padding: 10px;
    }
    .bottom-content {
        display: flex;
        justify-content: space-between;
    }
    .bottom-content div {
        padding: 10px;
    }

    .services-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between;
        align-items: space-around;
        flex-wrap: wrap; */
        /* border: 2px dashed blue; */
    }
    .services-info-img {
        width: 100%;
        height: auto;
    }
    .lower-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 500px){
    /* .nav-and-logo {
        display: flex;
        flex-direction: column-reverse;
    } */
    body {
        margin: 0px 0px;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        margin: 0px 0px;
        width: 100%;
        padding: 20px 0px 0px 0px;       
    }
    .nav-links a {
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid grey;
    }
    hr {
        display: none;
    }
    .top-content {
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        margin: 0px 10px;
        padding: 20px 0px;

    }
    .top-content div {
        padding: 20px 0px;
    }
    .services-upper-text {
        margin: 10px;
    }
    .middle-img {
        margin: 0px 7px;
        width: 100%;
        height: auto;
    }
    .bottom-content {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        margin: 0px 10px;
        padding: 20px 0px;
    }
    .bottom-content div {
        width: 100%;
        padding: 20px 0px;
    }
    .lower-section {
        margin: 10px;
    }
    .contact {
        margin: 30px 10px;
    }
    footer {
        padding: 0px 0px;
    }
    .services-footer {
        padding: 30px;
    }
}